<div class="shadowq
">

    <div class="relative mb-4 rounded-lg">
        <span class="bg-surface-0 dark:bg-surface-900 text-surface-900 dark:text-surface-0 shadow px-4 py-2 absolute rounded-3xl" style="left: 1rem; top: 1rem">Category</span>
        <img [src]="imagePlaceholder" class="w-full"  alt="image placeholder"/>
    </div>
    <div class="flex justify-between items-center mb-4 p-4">
        <span class="text-surface-900 dark:text-surface-0 font-medium text-xl">Nom de l'évènement</span>
    </div>
    <p class="mt-0 mb-4 text-surface-700 dark:text-surface-100 leading-normal p-4">Enim nec dui nunc mattis enim ut tellus. Tincidunt arcu.</p>
    <span class="text-primary text-xl font-medium p-4">[PRIX]</span>

</div>
